html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:sans-serif;-ms-text-size-adjust:100%;
	color:#2a80b9;
	min-width:960px;
	background: #000;
}

.h2-line {
	border-bottom:#2a80b9 1px solid;
	padding-bottom:5px;
}
.h2 {
	text-align:center;
}

.innerblock {
	overflow:hidden;
	border:#bebebe 1px solid;
	border-top:none !important;
	background:url(../images/block-2.jpg) 0 bottom no-repeat #fff;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:62px;
}
.block-4 {
	background:url(../images/block-4.png) center 0 no-repeat;
	margin-top:17px;
	padding-top:15px;
}
.h2-line-2 {
	border-bottom:#d6d6d6 1px solid;
	padding-bottom:2px;
	display:inline-block;
}

footer {
	width:950px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	padding:32px 0 40px 0;
	text-align:center;
	color:#2a80b9;
	
}
footer p, footer p a.link {
	font-weight:bold;
}
hr{
	color: #2a80b9;
}
p
{ padding: 0 0 10px 0;
  line-height: 1.7em;}

img
{ border: 0;}

a {
	color:#2a80b9;
	text-decoration:none;
	text-decoration:underline;
	font-weight:normal;
}
a:hover {
	text-decoration:none;
}
.bg-top {
	background:url(../images/bg-top.jpg) center 0 repeat-x;
	width:100%;
}
.bgr {
	background:url(../images/bgr.jpg) center 0 no-repeat;
	width:100%;
	
}

.sitelogo{
    padding: 0 0 6px 4px;
    display: inline-block;
    overflow: hidden;
    font-family: 'Yesteryear', cursive;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
}

#content{ 
	width: 950px;
	margin:0 auto;	
}
nav {
	width:948px;
	border:#2a80b9 1px solid;
	background: #fff;
}
.sss{
  width:950px;
	margin:0px auto;
	padding-top:27px;
	z-index:101;
	position:relative;
 }
 
ul.menu {
	display:inline-block;
}
ul.menu li {
	float:left;
	border-left:#d3d3d3 1px solid;
	display:inline-block;
}
ul.menu li:first-child {
	border-left:none !important;
}

ul.menu li a {
	color:#2a80b9;
	font-size:18px;
	line-height:24px;
	padding: 14px;
	background:#fff;
	border:#fff 1px solid;
	border-bottom:none !important;
	display:block;
	text-align:center;
}
ul.menu li:hover a, ul.menu li.current a {
	background:#2a80b9;
	color:#fff;
}
ul
{ margin: 0px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}
.center {
	text-align:center;
}
ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

header {
	width:950px;
	margin:0px auto;
	padding-top:27px;
	z-index:101;
	position:relative;
}

.tt_tb {
  width: 100%;
  border-collapse: collapse;
}

.tt_tb tr, .tt_tb th, .tt_tb td {
  padding: 10px;
  margin: 0;
  text-align: left;
}

.tt_tb, .tt_tb th {
  border: 1px solid #fff;
}

.tt_tb th {
  border-left: none;
  border-right: none;
  background: #a3a2a2;;
  color: #fff;
  cursor: default;
  text-transform: uppercase;
}

.tt_tb tr:nth-child(odd) {
  background: #eee;
}

.tt_tb tr:nth-child(even) {
  background: #eee;
}

.tt_tb tr:hover {
  background: #a3a2a2;;
  cursor: pointer;
}

.td_dashboard{
	background: #eee;
	text-align: left;
	padding: 10px;
	margin:5px;
	-moz-box-shadow:    inset 0 0 20px #ADADAD;
	-webkit-box-shadow: inset 0 0 20px #ADADAD;
	box-shadow:         inset 0 0 20px #ADADAD;}
}


.iconic_big{
	float:left; 
	width: 250px; 
	height:250px; 
	border-radius:20px;
	margin:20px;
}

.iconic_info{
	float:right;
	border-radius:20px;
	border: 2px solid #a3a2a2;;
	margin:20px;
	padding:5px;
	text-align: center;
}

.iconic_infol{
	float:left;
	border-radius:20px;
	border: 2px solid #a3a2a2;;
	margin:20px;
	padding:5px;
	text-align: center;	
}

.iconic_big_i{	 
	width: 250px; 
	height:250px; 
	border-radius:20px;
}

.detail_info{
	border: 1px solid #000;
	border-radius:10px;
	padding:20px;
}
.detail_info_hr{
	color:#a3a2a2;;
}

.iconic{
	width: 50px;
	height: 50px;
	border-radius:50px;
}
.iconic_small{
	width: 14px;
	height: 14px;
	border-radius:5px;
}

input, textarea, select, .date {
	border:#2a80b9 1px solid;
	background:#fff;
	font-size:20px;
	color:#2a80b9;
	padding: 10px;
	width: 90%;
	margin: 10px;
	outline: medium none;
}


input[type="submit"] {
	border:#2a80b9 1px solid;
	background:#e4e4e4;
	font-size:20px;
	color:#2a80b9;
	padding: 10px;
	width: 90%;
	margin: 10px;
	outline: medium none;
}
